<!DOCTYPE html>
<html>
<head>
  <title>Music Library</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <h1 class="rotate">All The Sounds</h1>
  <div class="nav"><a href="/artists">Browse Artists</a> | <a href="/artists/new">Add New Artist</a> | <a href="/albums/new">Add New Album</a></div>
  <hr>


  <%= yield %>
</body>
</html>