<!DOCTYPE html>
<html>
<head>
  <title>Music Library</title>
</head>
<body>
  <h1>All the Sounds</h1>
  <p><a href="/artists">Browse Artists</a></p>
  <p><a href="/artists/new">Add New Artist</a></p>
  <p><a href="/albums/new">Add New Album</a></p>

  <%= yield %>
</body>
</html>