h1, h3 {
  font-family: Georgia, Serif
}

h1.rotate {
  font-size: 40px;
  float:left;
  margin-left: -220px;
  margin-top: 0;
  width:100px;
  -ms-transform: rotate(20deg); /* IE 9 */
  -webkit-transform: rotate(20deg); /* Safari */
  transform: rotate(20deg);
}

h1.home {
  font-size: 80px;
}


body {
  font-family: Helvetica, sans-serif;
  background: #fffff8;
  width: 500px;
  padding-left: 50px;
  margin: 0 auto;
}

h3 {
  margin: 40px 0;
  font-size: 24px;
}

a {
color: #0044cc;
}

a:hover {
  color: #99bbff;
}

.nav {
  float: right;
  margin-right: -180px;
}

.nav a {
  text-decoration: none;
  font-size: 18px;
}

.nav p {
  margin: 0 0 10px 0;
}

.content {
  margin-top: 50px;
}

