<h1>Add an Artist</h1>

<!-- Is this action the create action's route? -->
<form action="/artists" method="post">
  <label for="name">Artist name:</label>
  <input type="text" name="name">
  
  <input type="submit" name="Submit">
</form>

